.footer {
  background-color: #2e2e2e;
  color: #E63946;
  padding: 20px;
  height: auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin: 5px 20px;
}

.newsletter {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  flex: 1 1 300px;
}

.newsletter input {
  margin-top: 10px;
  width: 100%;
  max-width: 600px;
  height: 40px;
  border: #E63946;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  padding:  0 20px;
}
.contact p{
  color : #F8F9FA;
}

.newsletter button {
  margin-top: 10px;
  width: 100%;
  max-width: 150px;
  height: 35px;
  border: #E63946;
  border-radius: 5px;
  background-color: #E63946;
  color: #F8F9FA;
  cursor: pointer;
  transition: all 0.3s;
}

.newsletter button:hover {
  background-color: #F8F9FA;
  color: #E63946;
}

.copyright,
.contact,
.reseaux_sociaux {
  text-align: center;
  flex: 1 1 300px;
}

.reseaux_sociaux a {
  margin-right: 10px;
  color: #F8F9FA;
}

.reseaux_sociaux a:hover {
  color: #F8F9FA;
}

/* 📱 Version mobile */
@media (max-width: 768px) {
  .footer-content {
    display: flex;
    align-items: center;
    margin:  50px auto ;
  }
  .newsletter input {
    max-width: 90%;
  }

  .newsletter button {
    max-width: 90%;
  }
}
